<html>
<title>Meet the Creators</title>
<head><link rel = stylesheet href = "style.css" type = "text/css">
</head>
<body>

<p>
<h1 class = "subheader"> The Crew</h1>
</p>


<div class = "maintile">
  <table border="0" cellpadding ="10" cellspacing ="30">
    <tr>
      <td>
        <div class = "peoplephoto">
          <%= image_tag "Mene Final.jpg", :size=>"150x150", :alt=>"Menelaos Mazarakis"%>
        </div>
      </td>
      <td>
	<div class = "description">
		<p class = "describeperson">Menelaos Mazarakis is currently a sophomore at Princeton Highschool. He is the President and founder of the Princeton Peru Partnership. Among his passions are learning new languages (proficient in 4 languages: Spanish, Greek, English, and French), traveling the world, and studying world cultures. He is also an avid squash player, intense ping-pong'er, and aggressive debater on philosophical issues. After being born and living in New York for a month, Mexico for 5 years, Miami for 1 year, and Boston for another year, he finally settled down in Princeton in 2003. His experiences in Peru inspired him to lead the Princeton Peru Partnership at Princeton Highschool in hopes of aiding the devastated people of Taray. A strong patriot of his native land, Greece, where he spends his summers, Menelaos is a firm believer that: "Without Greek achievement, the world would be much different." -Anonymous </p>
	</div>
      </td>
    </tr>
    
    <tr>
      <td>
        <div class = "peoplephoto">
          <%= image_tag "Hayden Final.jpg", :size=>"150x150", :alt=>"Hayden"%>
        </div>
      </td>
      <td>
        <div class = "description">
          <p class = "describeperson">
          Martha Hayden is the Spanish teacher at Princeton High School. She went to Loyola University undergraduate and Georgetown University as a graduate. She runs her own non-for-profit called Creando Lazos, "Creating Ties." She organizes many philanthropic efforts in Peru involving sustainable energy, healthcare, and microcredit. She lives in Central New Jersey. 
          <p class = "describeperson">Every year, she organizes a trip for a group of her students to visit her home country of Peru. During these trips, she exposes them to the rich culture of her homeland.</p>
          <p class="describeperson">With her hard work and motivated attitude towards teaching her students, she inspired her students to pursue philanthropic efforts in the Peruvian area.</p>
          </p>
        </div>	
      </td>
    </tr>

    <tr>
      <td>
        <div class = "peoplephoto">
          <%= image_tag "Dan Final.jpg", :alt=>"Daniel Black", :size=>"150x150" %>
        </div>
      </td>
      <td>
        <div class = "description">
          <p class = "describeperson">
          Daniel in currently resides in Central New Jersey but spent his early childhood in Europe and the Caribbean. He and several of his Princeton Peru Partnership co-volunteers go to Princeton High School. He attended the Peru trip in summer of 2010 In his spare time, he enjoys studying Andean race relations and emulating Frank Gehry’s unique style of architecture. Between firefighter emergency calls, he works on marketing for Orchive.
          </p>
        </div>
      </td>
    </tr>
    
    <tr>
      <td> 
        <div class = "peoplephoto">
          <%= image_tag "Becca Final.jpg", :alt=>"Rebecca Freda", :size=>"150x150" %>
        </div>
      </td>
      <td>
        <div class = "description">
          <p class = "describeperson">
          Rebecca Freda is a junior at Princeton High School. She is one of the original leaders of Princeton Peru Partnership who went on the 2011 Peru trip. She is now the Chief Culinary Officer of the Princeton Peru Partnership. Among other things, she is co-leader of Knitting For Needs, a club at Princeton High School. She also loves field hockey, plays lacrosse, and is currently working on her Girl Scout Gold Award. In her spare time, Rebecca likes to make ice cream and bake other goods.
          </p>
        </div>
      </td>
    </tr>  

    <tr>
      <td>
        <div class = "peoplephoto">
          <%= image_tag "Liana Final.jpg", :alt=>"Liana Bloom",:size=>"150x150" %>
        </div>
      </td>
      <td>
        <div class = "description">
          <p class = "describeperson">
          Liana Bloom is a sophomore at Princeton High School. She is the Chief Operating Officer of the Princeton Peru Partnership. She attended the Peru trip during the summer of 2011. She enjoys long walks on the beach, playing softball, communicating with others in Spanish, and helping out the community. Liana also is an avid tennis player on the Princeton High School team. She is part of a leader-student exchange program in which students from all across the US are exchanged with students from Israel.
          </p>
        </div>
      </td>
    </tr>
    
    <tr>
      <td>
        <div class = "peoplephoto">
           <%= image_tag "Neil Final.jpg", :size=>"150x150", :alt=>"Neil Limaye"%>
        </div>
      </td>  
      <td>
        <div class = "description">
        <p class = "describeperson">
        Neil Limaye is a freshman at Princeton High School and Chief Technology Officer of the Princeton Peru Partnership. He is close friends with Menelaos and was willingly absorbed into the charity. Neil is currently head of 1 not-for-profit and 1 for-profit company. His hobbies include gaming, programming, playing tabla, Model UN, art, architecture, physics, chemistry, novel studies, and movie analyses. Follow him on Twitter at <a class = "twitterlink" href = "http://www.twitter.com/theclassicneil">@theclassicneil</a>
        </p>
        </div>
      </td>
    </tr>
    
  </table>









</p>
</div>
</div>
</div>

</body>
</html>